<!DOCTYPE html>
<html lang="en">
{{> common/header}}
<body>
{{> common/navbar}}
<div class="container">
    <div class="d-flex justify-content-center p-3">
        <form action="/groups" method="post">
            <div class="text-center"><h2>모임개설</h2></div>
            <div class="p-2">
                <div>모임명</div>
                <div>
                    <input type="text" name="group-name" id="group-name" value="부경나비" />
                </div>
            </div>
            <div class="p-2">
                <div>1차 분류</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-group1" id="sort-group1-1" value="option1" checked>
                    <label class="form-check-label" for="sort-group1-1">
                        소모임
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sort-group1" id="sort-group1-2" value="option2">
                    <label class="form-check-label" for="sort-group1-2">
                        스터디
                    </label>
                </div>
            </div>
            <div class="p-2">
                <label class="form-check-label" for="sort-group2-1">2차 분류</label>
                <div><input type="text" name="sort-group2" id="sort-group2-1" value="독서"></div>
            </div>
            <div class="p-2">
                <div>지역</div>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="0" selected>전국</option>
                    <option value="1">강원도</option>
                    <option value="2">경기도</option>
                    <option value="3">경상남도</option>
                    <option value="4">경상북도</option>
                    <option value="5">전라남도</option>
                    <option value="6">전라북도</option>
                    <option value="7">제주도</option>
                    <option value="8">충청남도</option>
                    <option value="9">충청북도</option>
                    <option value="10">서울</option>
                    <option value="11">부산</option>
                    <option value="12">대구</option>
                    <option value="13">인천</option>
                    <option value="14">광주</option>
                    <option value="14">대전</option>
                    <option value="14">울산</option>
                </select>
            </div>
            <div class="p-2">
                <div>장소</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort-group3" id="sort-group3-1" value="option1" checked>
                    <label class="form-check-label" for="sort-group3-1">
                        온라인
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort-group3" id="sort-group3-2" value="option1" >
                    <label class="form-check-label" for="sort-group3-2">
                        오프라인
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort-group3" id="sort-group3-3" value="option1" >
                    <label class="form-check-label" for="sort-group3-3">
                        온/오프라인
                    </label>
                </div>
            </div>
            <div class="p-2 text-center">
                <button type="submit" class="btn bg-yellow text-purple">개설하기</button>
            </div>
        </form>
    </div>
</div>
{{> common/footer}}
</body>
</html>