<!DOCTYPE html>
<html lang="ko">
{{> common/header}}
<body>
{{> common/navbar}}
<div class="container">
    <div class="d-flex justify-content-center p-3">
        <form action="/users" method="post">
            <div class="text-center"><h2>회원가입</h2></div>
            <div class="p-2">
                <div>이름</div>
                <div><input type="text" name="name" value="황러너"></div>
            </div>
            <div class="p-2">
                <div>닉네임(별명)</div>
                <div><input type="text" name="nickname" value="의적"></div>
            </div>
            <div class="p-2">
                <div>이메일</div>
                <div><input type="text" name="email" value="learner@hard.com"></div>
            </div>
            <div class="p-2">
                <div>비밀번호</div>
                <div><input type="password" name="password" value="password1234"></div>
                <div>비밀번호 확인</div>
                <div><input type="password" name="passwordCheck" disabled></div>
            </div>
            <div class="p-2 text-center">
                <button type="submit" class="btn bg-yellow text-purple">회원가입</button>
            </div>
        </form>
    </div>
</div>
{{> common/footer}}
</body>
</html>