<!DOCTYPE html>
<html lang="en">
{{> common/header}}
<body>
{{> common/navbar}}
<div class="container-fluid">
    <div class="row">
        <nav class="col" id="group-nav-bar">
            <ul>
                <li><a href="/groups/{{id}}">home</a></li>
                <li><a href="/groups/{{id}}/assignment">assignment</a></li>
                <li><a href="/groups/{{id}}/admin">admin</a></li>
            </ul>
        </nav>
        <div class="col-9" id="group-content">
            <div><button onclick="location.href='/groups/{{id}}/assignment/create'">make assignment</button></div>
            <div>assignment post list</div>
        </div>
    </div>
</div>
{{> common/footer}}
</body>
</html>