<!DOCTYPE html>
<html lang="en">
{{> common/header}}
<body>
{{> common/navbar}}
<div class="container-fluid">
    <div class="row">
        <nav class="col" id="group-nav-bar">
            <ul>
                <li><a href="/groups/{{id}}">home</a></li>
                <li><a href="/groups/{{id}}/assignment">assignment</a></li>
                <li><a href="/groups/{{id}}/admin">admin</a></li>
            </ul>
        </nav>
        <div class="col-9" id="group-content">
            <form action="/groups/{id}/assignment/create" method="post">
                <div><input type="text" name="title" placeholder="과제명" value="2월 3주차 과제"/></div>
                <div><input type="datetime-local" name="startdate" value="2019-02-21T11:30"/> ~ <input type="datetime-local" name="enddate" value="2018-02-28T19:30"/></div>
                <div><textarea name="content" cols="30" rows="10">WAS 종류에 대해 조사한 내용 제출하세요 A4 2장 분량</textarea></div>
                <div><input type="file"></div>
                <div><input type="submit" value="제출"></div>
            </form>
        </div>
    </div>
</div>
{{> common/footer}}
</body>
</html>